.panelShow{
    display: flex;
    background-color: #00214D;
    position: fixed;
    top: 50%;
    left: 0;
    align-self: center;
    width: 200px;
    transition: .3s;
}
.panelHide{
    display: flex;
    background-color: #00214D;
    position: fixed;
    top: 50%;
    left: -150px;
    align-self: center;
    width: 200px;
    transition: .3s;
}
.showPanel{
    align-self: center;
    text-align: end;
    width: 25%;
}
.showPanel i{
font-size: 3rem;
}
.option{
    display: flex;
    padding: 10px;
    width: 75%;
    flex-direction: column;
}
.option button{
    font-size: 1.6rem;
    padding: 10px 0;
    text-transform: uppercase;
    color: #FFF;
    cursor: pointer;
}
.option button:hover{
    color: #ff9400;
    transform: scale(1.1);
  }
  .currency{
      margin: 5px 0px;
  }
  .currency button{
    font-size: 1.8rem;
    margin: 0 4px;
  }
  .currency button i{
    font-style: normal;
  }
  .currencyTitle{
      border-bottom: 1px solid #FFF;
      color: #FFF;
      font-size: 1.6rem;
      text-transform: uppercase;
      text-align: left;
      padding: 2px;
  }
  .currencyTitle strong{
    color: #ff9400;
  }