.crypto{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 2px 2px 10px 0px rgba(160, 160, 160, 1);
    padding: 20px;
    margin: 20px;
    width: 20%;
    font-size: 1.4rem;
}
.cryptoHeader{
    display: flex;
    padding: 10px;
}
.cryptoLogo{
    width: 15%;
    object-fit: contain;
}
.cryptoName{
    width: 85%;
    text-align: center;
}
.increase{
    background-color: rgb(230, 255, 223);
}
.decrease{
    background-color: rgb(255, 236, 236);
}

@media (max-width: 1600px) {
    .crypto{
        width: 25%;
    }
}

@media (max-width: 1300px) {
    .crypto{
        width: 40%;
    }
} 

@media (max-width: 800px) {
    .crypto{
        width: 80%;
    }
} 