.nav {
    height: 15%;
    font-size: 2rem;
}

.navList {
    display: flex;
    list-style: none;
}

.navItem a {
    display: block;
    margin-top: 6px;
    color: #FFF;
    padding: 6px 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s;
}

.navItem a:hover {
    color: #ff9400;
    transform: scale(1.1);
}


@media (max-width: 800px) {
    .nav {
        font-size: 1.8rem;
    }
}