header{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #00214D 30% , #01193a);
    padding: 10px;
}
.firstBar{
    display: flex;
    font-size: 1.6rem;
}
.firstBar{
    width: 90%;
}
.secondBar{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #FFF;
}
.secondBarTitle{
    color: #FFF;
    font-size: 1.6rem;
    width: 15%;
    align-self: center;
    text-transform: uppercase;
}
.logo{
    width: 10%;
    object-fit: contain;
}