.increase {
    margin: 0 5px;
    color: green;
    font-size: 1.4rem;
}

.decrease {
    margin: 0 5px;
    color: red;
    font-size: 1.4rem;
}

@media (max-width: 800px) {

    .increase,
    .decrease {
        margin: 0 3px;
        font-size: 1.3rem;
    }
}