.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #00214D 30%, #01193a);
    padding: 10px;
}

.text {
    color: #FFF;
    font-size: 1.6rem;
    padding: 15px;
    text-transform: uppercase;
}

.links a {
    color: #FFF;
    font-size: 3rem;
    padding: 0 10px;
    transition: .2s;
}

.links a:hover {
    color: #ff9400;
}